@font-face {
  font-family: 'Kanit-MediumItalic';
  src: local('Kanit-MediumItalic'), url('./fonts/Kanit/Kanit-MediumItalic.ttf') format('truetype');
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: ghostwhite;
}

.navbar--container{
  background: rgb(224, 56, 56);
  padding: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.navbar-text{
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;

}
.heading{
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(52, 56, 56);
}
 .App{
  display: flex;
  margin: 12px;
  padding: 8px;
 }

 .car{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 16px 24px;
  padding: 8px;
  position: relative;
 }

.first-card, .second-card, .card-3{
  /* margin-left: 2em; */
 display: inline-block;
 padding: 2px;
}

.map{
  font-size: 16px;
}

 .image{
  float: left;
  padding: 2px;
  margin:0 36px 36px 0;
  width: 40%;
  /* border: 5px solid gainsboro; */
 }
.date-span{
  font-size: 14px;
  font-weight: 500;
  font-family:Kanit-MediumItalic;
}
 .map > a{
  text-decoration: underline;
  color: rgb(41, 41, 41);
  margin-left: 24px;
 }

 .map, .location, .date-span, .description{
  justify-items: center;
  justify-content: center;
  /* margin: 18px 16px; */
  padding: 2px;

 }