*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: ghostwhite;
}

.navbar--container{
  background: rgb(224, 56, 56);
  padding: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.navbar-text{
  color: white;
  text-align: center;
  line-height: 20px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;

}
.heading{
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(52, 56, 56);
}
 .App{
  display: flex;
  margin: 12px;
  padding: 8px;
 }